{{> header }}

<div class="header-container cont">
	<div class="video-overlay" id="video-overlay" data-animation-state="out">
		<div class="video-container" id="video-container">
			<iframe id="headervid" src="//player.vimeo.com/video/120421420?api=1&player_id=headervid&color=fee26d&title=0&byline=0&portrait=0" width="1080" height="608" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen data-animation-state="out"></iframe>
		</div>
	</div>
	<a href="" class="curtain" id="curtain"></a>
	<div class="header int" id="header" data-animation-state="in">
		{{{ img "what-if.png" }}}
		<span>&nbsp;</span>
		{{{ img "button-play.png" true "play" }}}
	</div>
</div>

<div class="devices-container cont">
	<div class="devices int">
		<h2>News that matters to you,<br> right in the Today view.</h2>
		<h3>The latest stories will always be there when you <br>have time for them, a single gesture away.</h3>
		<a href="#appstore" id="download" class="download">Get it now</span></a>
		<br>
		<a href="#headervid" id="watch" class="watch">Watch the video</a>

	</div>

	<div class="mac" id="mac_device"></div>
	<div class="iphone" id="iphone_device"></div>
</div>

<div class="appstore-container cont">
	<div class="appstore int" id="appstore">
		<div class="osx section">
			<a class="icon-link" href="{{{ osxlink }}}">
				{{{ img "icon-osx.png" true "icon" }}}
				{{{ img "breaking-for-mac.png" true "text" }}}
			</a>

			<a href="{{{ osxlink }}}" class="download-button osx"></a>

		</div>
		<div class="ios section">
			<a class="icon-link" href="{{{ ioslink }}}">
				{{{ img "icon-ios.png" true "icon" }}}
				{{{ img "breaking-for-ios.png" true "text" }}}
			</a>
			<a href="{{{ ioslink }}}" class="download-button ios"></a>
		</div>
	</div>
</div>

<div class="yosemite-cont cont">
	<div class="yosemite-int int">
		<h3>Breaking let’s you add <br>news feeds to your Today view</h3>
		<p>Add local news, your favorite blogs or anything else that comes with a feed as a Today view widget in OS X Yosemite &amp; iOS 8. Breaking is an easy, uncluttered way of staying on top of what’s new in your world.</p>
		{{{ img "interface-osx.png" true "interface" }}}
	</div>

	<div class="menubar">
		<div class="left">
			<a href="http://robo.cat" title="Robocat" class="robocat icon">
				{{{ img "menubar-robocat.png" }}}
			</a>
			<div class="breaking">
				<span class="bold">Breaking</span>
			</div>
			<div class="clear"></div>
		</div>
		<div class="right">
			<div class="wifi icon">
				{{{ img "menubar-wifi.png" }}}
			</div>
			<div class="sound icon">
				{{{ img "menubar-sound.png" }}}
			</div>
			<div class="date">
				<span id="time">Sun 17:44</span>
			</div>
			<div class="user">
				<span class="bold">Robocat</span>
			</div>
			<div class="spotlight icon">
				{{{ img "menubar-spotlight.png" }}}
			</div>
			<div class="notificationcenter icon">
				{{{ img "menubar-notificationcenter.png" }}}
			</div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>

	<div class="sidebar" id="sidebar" data-ready="false">
		<div class="tabs">
			<div class="tab selected">
				<span>Today</span>
			</div>
			<div class="tab">
				<span>Notifications</span>
			</div>
		</div>
		<div class="line">
			&nbsp;
		</div>
		<div class="date" id="date">
			<div class="weekday" id="date-weekday">Sunday</div>
			<div class="day">
				<span id="date-dayofmonth">24</span><sup class="tense" id="date-tense">th</sup> <span class="month" id="date-month">December</span>
			</div>
		</div>

		<div class="widget">
			<div class="widget-header">Breaking</div>
			<div class="feed" id="feed"></div>
		</div>
	</div>
</div>

<div class="features-cont cont">
	<div class="features-int int">
		<div class="feature">
			<div class="icon">
				{{{ img "feature-breaking.png" }}}
			</div>
			<h3>A Great Way to Catch Up On Headlines</h3>
			<p>Breaking marries the accessibility of the Today view with the power of RSS feeds. A News overview, only a gesture away.</p>
			<div class="clear"></div>
		</div>
		<div class="feature">
			<div class="icon">
				{{{ img "feature-multiple.png" }}}
			</div>
			<h3>Multiple Feeds</h3>
			<p>Follow multiple news outlets? (you should). Breaking merges unlimited feeds and displays the 5 latest stories.</p>
			<div class="clear"></div>
		</div>
		<div class="feature">
			<div class="icon">
				{{{ img "feature-rss.png" }}}
			</div>
			<h3>We’ll find the feed for you</h3>
			<p>Just type in the url and we’ll search the site and find the feed for you. It’s really easy.</p>
			<div class="clear"></div>
		</div>
		<div class="feature">
			<div class="icon">
				{{{ img "feature-featured.png" }}}
			</div>
			<h3>Build for Yosemite</h3>
			<p>Breaking was build specifically for digesting news on OS X Yosemite.</p>
			<div class="clear"></div>
		</div>
		
	</div>
</div>

<div class="download-cont cont">
	<div class="download-int int">
		<h3>Start scanning the news</h3>

		<div class="section asection">
			<a href="https://itunes.apple.com/us/app/breaking-news-in-your-today/id940103986?ls=1&mt=8" title="Download Breaking for Mac on the Mac App Store" class="download-button osx light"></a>
		</div>
		<div class="section bsection">
			<a href="https://itunes.apple.com/us/app/breaking-news-in-your-today/id940103986?ls=1&mt=8" title="Download Breaking for Mac on the Mac App Store" class="osx">
				{{{ img 'icon-osx.png' }}}
			</a>
			<a href="https://itunes.apple.com/us/app/breaking-news-in-your-today/id953959186?ls=1&mt=8" title="Download for iOS on the App Store" class="ios">
				{{{ img 'icon-ios.png' }}}
			</a>
			
		</div>
		<div class="section csection">
			<a href="https://itunes.apple.com/us/app/breaking-news-in-your-today/id953959186?ls=1&mt=8" title="Download for iOS on the App Store" class="download-button ios light"></a>
		</div>
	</div>
</div>

<div class="footer-cont cont">
	<div class="footer-int int">
		<p>Made by Robocat <a href="http://robo.cat/" class="robocat">{{{ img "robocat-logo.png" }}}</a> in Copenhagen</p>
		<div class="actions">
			<a href="//robo.cat" title="Visit the Robocat website" class="button robocat">About us</a>
			<a href="//twitter.com/robocat" title="Robocat on Twitter" class="button twitter">Twitter</a>
			<a href="//facebook.com/robocatapps" title="Robocat on Facebook" class="button facebook">Facebook</a>
			<a href="mailto:hello@robo.cat" title="Say Hello with an Email" class="button email">Email</a>
			<a href="/downloads/presspackage.zip" title="Download the Press Package" class="button press">Press Package</a>
		</div>
	</div>
</div>

{{> footer }}
