{{> header }}

<div class="tips">
	{{#each tips}}
		<div class="tip">
			{{{img this.icon true "icon"}}}
			<p class="index">Tip {{math @index "+" 1}}</p>
			<h1 class="title">{{this.title}}</h1>
			<p class="description">{{this.description}}</p>

			{{#if this.action}}
				<a href="{{this.action.url}}" class="button action">{{this.action.text}}</a>
			{{/if}}
		</div>
	{{/each}}
</div>

{{> footer }}
